<!DOCTYPE html>
<html>
<head>
    <title>DWZ</title>
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
</head>
<body>
<h3>DWZ</h3>
<form enctype="multipart/form-data" method="get" action="/dwz/getDWZ">
    <input type="textarea" id="long_url" name="long_url" style="height:50px;width:800px"/><br/><br/>
    <input type="submit" value="转换"/>
</form>
</body>
</html>